<title>Search</title>
<h1>Please enter a Github Profile <h1>
<%=form_tag("/mock_github/profile", method: "post") do %>
<%=label_tag(:name, "Profile:" ) %>
<%=text_field_tag(:name) %>
<%=submit_tag("Search") %>
<% end %>
